body { 
    background-image: url(Fondococina2retocado.jpg);
    }
{
    
        margin: 0;
        font-family: Arial, sans-serif;
      }
  
      header {
        background-color: #ffffffbd;
        padding: 12px;
        overflow: hidden;
      }
  
      #logo {
        float: center;
      }
  
    
      
  
      
      